# ##############################################################################
# GENERIC FILES TO IGNORE
# ##############################################################################

# ------------------------------------------------------------------------------
# Linux
# ------------------------------------------------------------------------------
*~
.Trash-*

# ------------------------------------------------------------------------------
# OSX
# ------------------------------------------------------------------------------
*.DS_Store
._*

# ------------------------------------------------------------------------------
# Windows
# ------------------------------------------------------------------------------
Desktop.ini
Thumbs.db

# ------------------------------------------------------------------------------
# SVN
# ------------------------------------------------------------------------------
.svn/

# ------------------------------------------------------------------------------
# Log files and databases
# ------------------------------------------------------------------------------
*.log
*.sql
*.sqlite

# ------------------------------------------------------------------------------
# CSS pre-processors
# ------------------------------------------------------------------------------
*.sass-cache*

# ------------------------------------------------------------------------------
# Misc
# ------------------------------------------------------------------------------

# ignore any file or folder that starts with double underscore
__*

# ------------------------------------------------------------------------------
# Packages such as Zip files
# ------------------------------------------------------------------------------
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
